<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/common.css">
    <link rel="stylesheet" type="text/css" href="~/Content/header.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/footer.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/search_style.css">
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/slideBox.js" type="text/javascript"></script>

</head>

<body>
    <header>
        <!--header-left start-->
        <div id="head_bd">
            <div id="head_logo">
                <a href="./">
                    <!--网站图标-->
                    <img src="~/Image/head_logo.png">
                </a>
            </div>
            <!--head_banner start-->
            <div id="head_banner">
                <ul id="nav_all">
                    <li>
                        <a href="./">首页</a>
                        <ul style="display: none;">
                            <li><a>欢迎来到阿炜新闻</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor:pointer">新闻</a>
                        <ul style="display: none;">
                            <li style="width: 65px;"></li>
                            <li><a href="/Home/typesearch?type=军事">军事</a></li>
                            <li><a href="/Home/typesearch?type=国内">国内</a></li>
                            <li><a href="/Home/typesearch?type=国际">国际</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor:pointer">财经</a>
                        <ul style="display: none;">
                            <li style="width: 130px;"></li>
                            <li><a href="/Home/typesearch?type=股票">股票</a></li>
                            <li><a href="/Home/typesearch?type=基金">基金</a></li>
                            <li><a href="/Home/typesearch?type=外汇">外汇</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor:pointer">体育</a>
                        <ul style="display: none;">
                            <li style="width: 195px;"></li>
                            <li><a href="/Home/typesearch?type=NBA">NBA</a></li>
                            <li><a href="/Home/typesearch?type=英超">英超</a></li>
                            <li><a href="/Home/typesearch?type=中超">中超</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor:pointer">娱乐</a>
                        <ul style="display: none;">
                            <li style="width: 260px;"></li>
                            <li><a href="/Home/typesearch?type=明星">明星</a></li>
                            <li><a href="/Home/typesearch?type=电影">电影</a></li>
                            <li><a href="/Home/typesearch?type=电视剧">电视剧</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor:pointer">科技</a>
                        <ul style="display: none;">
                            <li style="width: 325px;"></li>
                            <li><a href="/Home/typesearch?type=手机">手机</a></li>
                            <li><a href="/Home/typesearch?type=探索">探索</a></li>
                            <li><a href="/Home/typesearch?type=众测">众测</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor:pointer">汽车</a>
                        <ul style="display: none;">
                            <li style="width: 390px;"></li>
                            <li><a href="/Home/typesearch?type=报价">报价</a></li>
                            <li><a href="/Home/typesearch?type=买车">买车</a></li>
                            <li><a href="/Home/typesearch?type=新车">新车</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--head_banner end-->
        </div>
        <!--head_rt start 注册登录搜索-->
        <div id="head_rt">
            <ul>
                @if (Request.Cookies["userid"] == null)
                {
                    <li><a href="">@Html.ActionLink("登录", "Login")</a></li>
                    <li><a href="">@Html.ActionLink("注册", "Login")</a></li>
                }
                else
                {
                    var username = Request.Cookies["name"].Value.ToString();
                    <li><a href="">@Html.ActionLink(username, "userpage")</a></li>
                    var type = Request.Cookies["type"].Value.ToString();
                    if (type == "1")
                    {
                        <li><a href="">@Html.ActionLink("发布", "wangeditor")</a></li>
                    }

                }

                <li id="search_button"><span style="cursor:pointer" class="fa fa-search" aria-hidden="true"></span></li>
                <li>
                    <input id ="head_search_text"style="height: 20px" name="search_text">
                </li>
            </ul>
        </div>
        <!--head_rt end-->
    </header>
    <script>
        $("#search_button").click(function () {
            var str = $("#head_search_text").val();
            window.location.href = '/Home/search?search_text=' + str;
        })

    </script>

    <script>
        // 移动到对应栏目自动下拉
        var st = 180;
        $('#nav_all>li').mouseenter(function () {
            $(this).find('ul').stop(false, true).slideDown(st);
        }).mouseleave(function () {
            $(this).find('ul').stop(false, true).slideUp(st);
        });
    </script>
    @RenderBody()
    <footer>
        <div id="footer_l">
            <p>asp.net综合实验</p>
            <p>小组成员: 2017071002詹欣炜 2017071020黄敏 2017071044王思桐</p>
        </div>
        <div id="footer_r">
            <ul>
                <li>相关链接</li>
                <li><a href="https://github.com/1095813533"><span class="fa fa-github" style="color: white; font-size: 18px;"></span></a></li>
                <li><a href=""><span class="fa fa-wechat" style="color: white; font-size: 18px;"></span></a></li>
                <li><a href=""><span class="fa fa-weibo" style="color: white; font-size: 18px;"></span></a></li>
            </ul>
        </div>
        <!--back to top start-->
        <link href="~/Content/back2top.css" rel="stylesheet">
        <script src="~/scripts/back2top.js"></script>
        <div id="backTop" style="background: url('../Image/back2top.png') no-repeat;">
            <a href="javascript:;"></a>
        </div>
        <!--back to top end-->
    </footer>

</body>
</html>
